{% extends 'base.html' %}
{% block content %}
<h1 class="banner-text">Welcome to Connection Solutions</h1>
<img id="landing-page-image" src="../static/images/RoiImage.png" alt="">
<div class="flex-container">
    <p class="blurb">
        There exists a common denominator among high performing companies like <strong><i>Visa</i></strong>,
        <strong><i>Joseph A Banks</i></strong>, <strong><i>Samsung</i></strong> and <strong><i>United Healthcare</i></strong>.
        That common denominator is <strong><i>Connection Solutions</i></strong>
    </p>
    
</div>
<div class="btn-container">
    <button type="button" class="btn btn-light learn-how">Learn How</button>
    <button type="button" class="btn btn-primary get-started">Get Started &nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
      </svg></button>
</div>
{% endblock %}