{% extends 'base.html' %}
{% block content %}
<h1 class="banner-text">Welcome to Connection Solutions</h1>
<img id="landing-page-image" src="../static/images/RoiImage.png" alt="">
<div class="flex-container">
    <p class="blurb">
        There exists a common denominator among high performing companies like <strong><i>Visa</i></strong>,
        <strong><i>Joseph A Banks</i></strong>, <strong><i>Samsung</i></strong> and <strong><i>United Healthcare</i></strong>.
        That common denominator is <strong><i>Connection Solutions</i></strong>
    </p>
</div>
{% endblock %}