{% extends 'base.html' %}
{% block content %}
<form action="/submit" id="regForm" class="form-signup" method="post">
  <!-- Contact Types tab -->
  <div class="tab">
    <h2>How can we assist you?</h2>
    {% for item in range(0, len) %} 
      <label class="tab_container">{{contact_types[item]}}
        <input type="checkbox" name="contact_checkbox" value="{{contact_types[item]}}">
        <span class="checkmark"></span>
      </label>
    {% endfor %}
  </div>
  <div class="tab">
    <h2>What languages are you hoping to support?</h2>
    <div class="language-container">
      <div class="column">
        {% for language in range(0, lenl1)%}
        <label class="tab_container">{{languages_tab_1[language]}}
          <input type="checkbox" name="lang1_checkbox" value="{{languages_tab_1[language]}}">
          <span class="checkmark"></span>
        </label>
        {% endfor %}
      </div>
      <div class="column">
        {% for language in range(0, lenl2)%}
        <label class="tab_container">{{languages_tab_2[language]}}
          <input type="checkbox" name="lang2_checkbox" value="{{languages_tab_2[language]}}">
          <span class="checkmark"></span>
        </label>
        {% endfor %}
      </div>
      <div class="column">
        {% for language in range(0, lenl3)%}
        <label class="tab_container">{{languages_tab_3[language]}}
          <input type="checkbox" name="lang3_checkbox" value="{{languages_tab_3[language]}}">
          <span class="checkmark"></span>
        </label>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="tab">
    <h2>What industries are you looking to support?</h2>
    <div class="column">
      {% for industry in range(0, leni)%}
      <label class="tab_container">{{industries[industry]}}
        <input type="checkbox" name="industry_checkbox" value="{{industries[industry]}}">
        <span class="checkmark"></span>
      </label>
      {% endfor %}
    </div>
  </div>
  <div id="contact-info" class="tab">
    <label for="email">Email:</label>
    <input type="email" name="email">
    <label for="phone">Phone:</label>
    <input type="text" name="phone">
  </div>
  <div style="overflow:auto;" class="button-wrapper">
    <div style="float:right;">
      <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
      <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
    </div>
  </div>

  <div class="step-count">
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
  </div>
</form>

{% endblock %}