@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,900&display=swap');
body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(225.34deg, #00E0FF 9.53%, #B600BA 86.96%);
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
}

#landing-page-image {
    transform: translate(25%, 24%);
    position: absolute;
}

.banner-text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-size: 3em;
    color: #f8f9fa;
    font-style: italic;
    /* opacity: 0; */
    /* bottom: -200px; */
    animation-name: appear;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    text-shadow: 5px 5px black;
}

.flex-container {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 35px;
}

.blurb {
    transform: translateX(-50%) translateY(60%);
    width: 35rem;
    color: #f8f9fa;
    font-family: 'Lato';
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif */
}

.btn-container {
    display: flex;
    justify-content: space-around;
    float: right;
    width: 270px;
    position: relative;
    transform: translateX(-166%) translateY(220px);
}

@keyframes appear {
    0% {
        opacity: 0;
        bottom: -150px;
    }

    75% {
        opacity: .50;
    }

    100% {
        opacity: 1;
        bottom: 0;
    }
}